body
{
    margin: 0px;
    text-align: center;
}

#grid-container
{
    display: flex;
    flex-flow: row wrap;
    width: 960px;
    margin: auto;
    border: 1px solid gray;
}

.sqr
{
    border: 1px solid gray;
}

.sqr:hover
{
    background-color: gray;
}